@use '../vars' ;
@use '../mixin' ;

.article {
    display: flex;
    flex-wrap: nowrap ;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    justify-content: center ;
    line-height: 2rem ;


    &__titre {
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
        font-weight:bold  ;
        &__detail {
            padding : 0px 5px;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        
        &__text {
            width: 70% ;
            padding: 1% 5%;
       }
       &__rubrique {
        width: 90% ;
        padding: 2% 5%;
        }
       &__image {
            margin-top: 1%;
            margin-right: 10%;
             width: 10% ;
    
        }
    }
    &__footer {
        text-align: left;
    
    }

    @include mixin.small {
        // width: 100% ;
        margin: 0rem 10% 0rem 10%;
        padding-top: 35%;
      }

    @include mixin.medium {
        // width: 80% ;
        margin: 0rem 10% 0rem 10%;
      }

      @include mixin.big {
        // width: 80% ;
        margin: 0rem 10% 0rem 10%;
        padding-top: 10%;
      }
}


.image_accueil {
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   margin: 0px 30px;
}

.fleche_accueil {
    max-width: 10%;
    width: 10%;
    animation-duration: 1s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
}

@keyframes clignoter {

    0% {opacity:1;}
    40% {opacity: 0;}
    100% {opacity: 1;}

}


.highlight:hover {
    background-color: #ecc5c5;

}

