@use '../vars' ;
@use '../mixin' ;


.bas_page {
    position : fixed;
    bottom: 0px;
    width: 80%;
    z-index: 1;
    display : flex ;
    justify-content: space-around;
    margin: 1rem 10% 0rem 10%;
    border-top: 3px solid vars.$text-color;
    background-color: vars.$background-color;

    &__lien {
        padding : 1rem 1rem;
        color: vars.$text-color;
        text-decoration: none;
        cursor: pointer;
    
    }
}

