@use '../vars' ;

.haut_page {
    position : fixed;
    top: 0px;
    width: 80%;
    z-index: 1;
    margin: 0rem 10% 1rem 10%;
    border-bottom: 3px solid vars.$text-color;
    background-color: vars.$background-color;
    &__image {
        padding-left: 43%;
        }
}