@use './vars' ;
@use './mixin' ;

body {
    color: vars.$text-color;
    font-size: 1.5rem;
    margin: 0px 0px;
}

img {
    max-width: 100%;

}

a {   color: vars.$text-color ;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }  
}


// .container {
//   @include mixin.small {
//     // margin-top: 25%;
//     // margin-left: 5%;
//   }

// @include mixin.medium {
//   // margin-top: 5%;
//   }

//   @include mixin.big {
//     // margin-top: 25%;
//   }
// }
