@use './vars' ;

body {
    color: vars.$text-color;
    font-size: 1.5rem;
    margin: 0px 0px;
}

img {
    max-width: 100%;

}

a {   color: vars.$text-color ;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }  
}


